* {
	box-sizing: border-box;
}

html {
	font-size:62.5%;
}

html, body {
	margin:0;
	padding: 0;
}

body {
	font-family:'Lato';
	font-size:1.6rem;
}
p, ul, li {
	margin:0;
	padding:0;
}

ul {
	list-style: none;
}

.container {
	margin-top:5rem;
}

.form__container {
	max-width:600px;
	margin: 1rem auto;
}

.base-btn {
	font-size:1.5rem;
	outline: 0;
	padding: 0.5rem;	
	color: #fff;
}

.speak__btn {
	background:#1a2537;
	border: 1px solid #1a2537;
	margin-left:0.5rem;
}

.speak__btn:hover {
	background:#000;
	border-color:#000;
}

.push__btn,
.publish__btn {
	background: #0ea8cc;
	border: 1px solid #0ea8cc;
	
}

.push__btn {
	display: none;
}

.push__btn:hover,
.publish__btn:hover {
	background: #0c7f9a;
	border-color:#0c7f9a;
}

.push__text {
	padding:0.5rem;	
}

.l-grid:before,
.l-grid:after {
 	content: " "; /* 1 */
    display: table; /* 2 */
}

.l-grid:after {
    clear: both;
}

.l-grid {
	margin-top:1rem;
}

.l-grid > li {
	float:left;
}

.e-logo {
    background: url(/assets/img/ENews-rebrand-logo.png) scroll 20px 8px no-repeat;
    background-size: 43px;
    display: block;
    height: 5rem;
    width: 6.4rem;
}

header {
	background:linear-gradient(to right, #1a212b 0%,#3c5266 100%);
	height:5rem;
	width:100%;
	position: fixed;
	top:0;
	left:0;
}

img {
	width:100%;
}

section {
	color: rgb(102, 102, 102);
	font-size: 1.7rem;
	padding:.5rem;
}

h1 {
	margin:0;
	font-size:2.6rem;
	line-height: 3.8rem;
	font-weight:400;
	margin-bottom:1rem;
}

.article__info {
	font-size:1.3rem;
	margin-bottom:3rem;
}

.article__author {
	color: #4a4a4a;
}

.article__date {
	color: #9b9b9b;
}

.article__text p {
	margin-bottom:1.5rem;
	line-height:3rem;
}

.cms-container {
	padding:5rem;
	max-width:600px;
	margin:0 auto;
}

label, input, .publish__btn {
	display:block; 
	width:100%;
}

label {
	margin-bottom: 0.5rem;
}

.input__row {
	margin-bottom:1rem;
}

/* AMBIENT LIGHT */ 

body.theme--dark {
	background:#000;
}

.theme--dark h1 {
	color:#f0f0f0;
}

.theme--dark p {
	color:#fff;
}

.theme--dark .article__author {
	color:#aaa;
}

.theme--dark .article__date {
	color:#ccc;
}